<div class="landing-page-container transition-fade-in">
   <div class="column-1">
       <div class="background-picture top-row-picture picture-1">

       </div>
       <div class="background-picture bottom-row-picture picture-2">
           
       </div>
   </div>
   <div class="column-2">
       <div class="background-picture top-row-picture  picture-3">
           
       </div>
       <div class="background-picture bottom-row-picture picture-4">
           
       </div>
   </div>

   <div class="landing-page-content text-center">
       <h1>Outdoor Adventures</h1>
       <div>
           <p>Your guide to all the national parks in the United States. Information, easy access, all in one convenient location.  Create a free account today!</p>
       </div>
       <a href="/signup" class="btn btn-dark">Sign up</a>
       <a href="/login" class="btn btn-outline-dark">Login</a>
   </div>

</div>