<div class="profile-background fullpage-background-img">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
            </div>
        </div>
    </nav>
    <div class="container general-form-container">
      {{#each parks}}
        <h2 class="text-center">{{ name }} </h2>
        <p>Details go here</p>
        <p>{{id}}</p>
        <p>{{lat}}</p>
      {{/each}}
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>