<div class="profile-background fullpage-background-img">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
            </div>
        </div>
    </nav>
    <div class="container general-form-container">
      <h2 class="text-center">All Parks</h2>
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">National Park Name</th>
            <th>Designation</th>
            <th scope="col">Wishlist</th>
            <th scope="col">Visited</th>
          </tr>
        </thead>
        <tbody>
          {{#each parks}}
            <tr>
              <td><a href="/parks/{{this.parkid}}"><span class="fas fa-info-circle"></span></a>&nbsp;{{ this.name }}</td>
              <td>{{ this.designation }}</td>
              <td><span class="fas fa-list-ul"> Add to Wishlist</span></td>
              <td><span class="fas fa-check"> Add to Visited</span></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>