<div class="parks-background fullpage-background-img">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
            </div>
        </div>
    </nav>
    <div class="container general-form-container all-parks-container">
        <h2 class="text-center">All Parks</h2>

        <div class="search-container">
            <form action="/parks/search" method="GET" class="search-form">

                    <div class="search-input-wrapper">
                        <div class="form-group text-center">
                            <input type="text" placeholder="Search by park name"
                                class="search-input form-control">
                        </div>
                        <div class="search-btn-wrapper">
                            <button type="submit" class="search-submit-btn btn btn-dark">Search</button>
                        </div>    
                    </div>

                    <div class="filter-wrapper text-center">
                        
                        <div class="dropdown filter-btn-container">
                            <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                States
                            </button>
                            <ul class="dropdown-menu state-dropdown" aria-labelledby="dropdownMenuButton">
                                <div class="state-dropdown-container">
                                    <div class="state-col">
                                        <li><label><input class="state-input" id="AL" name="regionStates[1]" type="checkbox"
                                                    value="AL">AL</label></li>
                                        <li><label><input class="state-input" id="AK" name="regionStates[2]" type="checkbox"
                                                    value="AK">AK</label></li>
                                        <li><label><input class="state-input" id="AR" name="regionStates[3]" type="checkbox"
                                                    value="AR">AR</label></li>
                                        <li><label><input class="state-input" id="AZ" name="regionStates[4]" type="checkbox"
                                                    value="AZ">AZ</label></li>
                                        <li><label><input class="state-input" id="CA" name="regionStates[5]" type="checkbox"
                                                    value="CA">CA</label></li>
                                        <li><label><input class="state-input" id="CO" name="regionStates[6]" type="checkbox"
                                                    value="CO">CO</label></li>
                                        <li><label><input class="state-input" id="CT" name="regionStates[7]" type="checkbox"
                                                    value="CT">CT</label></li>
                                        <li><label><input class="state-input" id="DC" name="regionStates[8]" type="checkbox"
                                                    value="DC">DC</label></li>
                                        <li><label><input class="state-input" id="DE" name="regionStates[9]" type="checkbox"
                                                    value="DE">DE</label></li>
                                    </div>

                                    <div class="state-col">
                                        <li><label><input class="state-input" id="FL" name="regionStates[10]" type="checkbox"
                                                    value="FL">FL</label></li>
                                        <li><label><input class="state-input" id="GA" name="regionStates[11]" type="checkbox"
                                                    value="GA">GA</label></li>
                                        <li><label><input class="state-input" id="HI" name="regionStates[12]" type="checkbox"
                                                    value="HI">HI</label></li>
                                        <li><label><input class="state-input" id="IA" name="regionStates[13]" type="checkbox"
                                                    value="IA">IA</label></li>
                                        <li><label><input class="state-input" id="ID" name="regionStates[14]" type="checkbox"
                                                    value="ID">ID</label></li>
                                        <li><label><input class="state-input" id="IL" name="regionStates[15]" type="checkbox"
                                                    value="IL">IL</label></li>
                                        <li><label><input class="state-input" id="IN" name="regionStates[16]" type="checkbox"
                                                    value="IN">IN</label></li>
                                        <li><label><input class="state-input" id="KS" name="regionStates[17]" type="checkbox"
                                                    value="KS">KS</label></li>
                                        <li><label><input class="state-input" id="KY" name="regionStates[18]" type="checkbox"
                                                    value="KY">KY</label></li>
                                    </div>

                                    <div class="state-col">
                                        <li><label><input class="state-input" id="LA" name="regionStates[19]" type="checkbox"
                                                    value="LA">LA</label></li>
                                        <li><label><input class="state-input" id="MA" name="regionStates[20]" type="checkbox"
                                                    value="MA">MA</label></li>
                                        <li><label><input class="state-input" id="MD" name="regionStates[21]" type="checkbox"
                                                    value="MD">MD</label></li>
                                        <li><label><input class="state-input" id="ME" name="regionStates[22]" type="checkbox"
                                                    value="ME">ME</label></li>
                                        <li><label><input class="state-input" id="MI" name="regionStates[21]" type="checkbox"
                                                    value="MI">MI</label></li>
                                        <li><label><input class="state-input" id="MN" name="regionStates[24]" type="checkbox"
                                                    value="MN">MN</label></li>
                                        <li><label><input class="state-input" id="MO" name="regionStates[25]" type="checkbox"
                                                    value="MO">MO</label></li>
                                        <li><label><input class="state-input" id="MS" name="regionStates[26]" type="checkbox"
                                                    value="MS">MS</label></li>
                                        <li><label><input class="state-input" id="MT" name="regionStates[27]" type="checkbox"
                                                    value="MT">MT</label></li>
                                    </div>

                                    <div class="state-col">
                                        <li><label><input class="state-input" id="NC" name="regionStates[28]" type="checkbox"
                                                    value="NC">NC</label></li>
                                        <li><label><input class="state-input" id="ND" name="regionStates[29]" type="checkbox"
                                                    value="ND">ND</label></li>
                                        <li><label><input class="state-input" id="NE" name="regionStates[30]" type="checkbox"
                                                    value="NE">NE</label></li>
                                        <li><label><input class="state-input" id="NH" name="regionStates[31]" type="checkbox"
                                                    value="NH">NH</label></li>
                                        <li><label><input class="state-input" id="NJ" name="regionStates[32]" type="checkbox"
                                                    value="NJ">NJ</label></li>
                                        <li><label><input class="state-input" id="NM" name="regionStates[33]" type="checkbox"
                                                    value="NM">NM</label></li>
                                        <li><label><input class="state-input" id="NV" name="regionStates[34]" type="checkbox"
                                                    value="NV">NV</label></li>
                                        <li><label><input class="state-input" id="NY" name="regionStates[35]" type="checkbox"
                                                    value="NY">NY</label></li>
                                    </div>

                                    <div class="state-col">
                                        <li><label><input class="state-input" id="OH" name="regionStates[36]" type="checkbox"
                                                    value="OH">OH</label></li>
                                        <li><label><input class="state-input" id="OK" name="regionStates[37]" type="checkbox"
                                                    value="OK">OK</label></li>
                                        <li><label><input class="state-input" id="OR" name="regionStates[38]" type="checkbox"
                                                    value="OR">OR</label></li>
                                        <li><label><input class="state-input" id="PA" name="regionStates[39]" type="checkbox"
                                                    value="PA">PA</label></li>
                                        <li><label><input class="state-input" id="RI" name="regionStates[40]" type="checkbox"
                                                    value="RI">RI</label></li>
                                        <li><label><input class="state-input" id="SC" name="regionStates[41]" type="checkbox"
                                                    value="SC">SC</label></li>
                                        <li><label><input class="state-input" id="SD" name="regionStates[42]" type="checkbox"
                                                    value="SD">SD</label></li>
                                        <li><label><input class="state-input" id="TN" name="regionStates[43]" type="checkbox"
                                                    value="TN">TN</label></li>
                                    </div>

                                    <div class="state-col">
                                        <li><label><input class="state-input" id="TX" name="regionStates[44]" type="checkbox"
                                                    value="TX">TX</label></li>
                                        <li><label><input class="state-input" id="UT" name="regionStates[45]" type="checkbox"
                                                    value="UT">UT</label></li>
                                        <li><label><input class="state-input" id="VA" name="regionStates[46]" type="checkbox"
                                                    value="VA">VA</label></li>
                                        <li><label><input class="state-input" id="VT" name="regionStates[47]" type="checkbox"
                                                    value="VT">VT</label></li>
                                        <li><label><input class="state-input" id="WA" name="regionStates[48]" type="checkbox"
                                                    value="WA">WA</label></li>
                                        <li><label><input class="state-input" id="WI" name="regionStates[49]" type="checkbox"
                                                    value="WI">WI</label></li>
                                        <li><label><input class="state-input" id="WV" name="regionStates[50]" type="checkbox"
                                                    value="WV">WV</label></li>
                                        <li><label><input class="state-input" id="WY" name="regionStates[51]" type="checkbox"
                                                    value="WY">WY</label></li>
                                    </div>

                                </div>
                                <button class="btn btn-dark btn-block reset-selections-btn" id="states-reset">Reset Selections</button>
                            </ul>
                        </div>

                        <div class="dropdown filter-btn-container mb-2">
                            <button class="btn btn-outline-dark dropdown-toggle" type="button" id="designationSelect"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Designations
                            </button>
                            <ul class="dropdown-menu designation-dropdown" aria-labelledby="designationSelect">
                                <div class="designation-dropdown-container">
                                    
                                        <div class="des-col">
                                            <li>
                                                <input class="des-input" id="national-historical-park-input" name="national-historical-park" type="checkbox"
                                                    value="national historical park">
                                                <label for="national-historical-park">National Historical Park</label>
                                            </li>
                                            <li>
                                                <input class="des-input" id="national-historic-site-input" name="national-historic-site" type="checkbox"
                                                    value="national historic site">
                                                <label for="national-historical-site">National Historic Site</label>
                                            </li>
                                            <li>                                       
                                                <input class="des-input" id="national-recreation-area-input" name="national-recreation-area" type="checkbox"
                                                    value="national recreation area">
                                                <label for="national-recreation-area">National Recreation Area</label>
                                            </li>
                                            <li>                                       
                                                <input class="des-input" id="national-river-and-recreation-area-input" name="national-river-&-recreation-area" type="checkbox"
                                                    value="national river %26 recreation area">
                                                <label for="national-river-&-recreation-area">National River & Recreation Area</label>
                                            </li>	
                                            <li>
                                                <input class="des-input" id="national-monument-and-preserve-input" name="national-monument-&-preserve"
                                                    type="checkbox" value="national monument %26 preserve">
                                                <label for="national-monument-&-preserve">National Monument &
                                                    Preserve</label>
                                            </li>
                                            <li>
                                                <input class="des-input" id="national-monument-and-historic-shrine-input" name="national-monument-and-historic-shrine"
                                                    type="checkbox" value="national monument and historic shrine">
                                                <label for="national-monument-and-historic-shrine"> National Monument and Historic Shrine</label>
                                            </li>

                                           
                                            <li>
                                                <input class="des-input" id="national-battlefield-input" name="national-battlefield" type="checkbox"
                                                    value="national battlefield">
                                                <label for="national-battlefield">National Battlefield</label>
                                            </li>
                                            <li>                                            
                                                <input class="des-input" id="national-lakeshore-input" name="national-lakeshore" type="checkbox"
                                                    value="national lakeshore">
                                                <label for="national-lakeshore">National Lakeshore</label>
                                            </li>
                                            <li>                                              
                                                <input class="des-input" id="national-scenic-trail-input" name="national-scenic-trail" type="checkbox"
                                                    value="national scenic trail">
                                                <label for="national-scenic-trail">National Scenic Trail</label>
                                            </li>
                                            <li>                                              
                                                <input class="des-input" id="national-scenic-river-input" name="national-scenic-river" type="checkbox"
                                                    value="national scenic river">
                                                <label for="national-scenic-river">National Scenic River</label>
                                            </li>
                                        </div>

                                        <div class="des-col">
                                            <li>                                         
                                                <input class="des-input" id="national-park-and-preserve-input" name="national-park-&-preserve" type="checkbox"
                                                    value="national park %26 preserve">
                                                <label for="national-park-&-preserve">National Park & Preserve</label>
                                            </li>                                        
                                            <li>                                         
                                                <input class="des-input" id="national-memorial-input" name="national-memorial" type="checkbox"
                                                    value="national memorial">
                                                <label for="national-memorial">National Memorial</label>
                                            </li>
                                            <li>                                     
                                                <input class="des-input" id="national-seashore-input" name="national-seashore" type="checkbox"
                                                    value="national seashore">
                                                <label for="national-seashore">National Seashore</label>
                                            </li>
                                            <li>
                                                <input class="des-input" id="national-park-input" name="national-park" type="checkbox"
                                                    value="national park">
                                                 <label for="national-park">National Park</label>
                                            </li>
                                            <li>
                                                <input class="des-input" id="national-preserve-input" name="national-preserve" type="checkbox"
                                                    value="national preserve">
                                                 <label for="national-preserve">National Preserve</label>
                                            </li>
                                            <li>
                                                <input class="des-input" id="national-military-park-input" name="national-military-park" type="checkbox"
                                                    value="national military park">
                                                 <label for="national-military-park">National Military Park</label>
                                            </li>
                                            <li>
                                                <input class="des-input" id="memorial-input" name="memorial" type="checkbox"
                                                    value="memorial">
                                                 <label for="memorial">Memorial</label>
                                            </li>
                                            <li>
                                                <input class="des-input" id="wild-river-input" name="wild-river" type="checkbox"
                                                    value="wild river">
                                                 <label for="wild-river">Wild River</label>
                                            </li>
                                            <li>
                                                <input class="des-input" id="park-input" name="park" type="checkbox"
                                                    value="park">
                                                 <label for="park">Park</label>
                                            </li>
                                            <li>
                                                <input class="des-input" id="parkway-input" name="parkway" type="checkbox"
                                                    value="parkway">
                                                 <label for="parkway">Parkway</label>
                                            </li>
                                        </div>
                                </div>
                                <button class="btn btn-dark btn-block reset-selections-btn" id="designation-reset">Reset Selections</button>
                            </ul>
                        </div>

                        <btn class="btn btn-dark reset-filters-btn">Reset Filters</btn>
                    </div>
            </form>
        </div>

        <div class="parks-table-wrapper">
            <table class="table table-sm parks-table">
                <thead>
                    <tr>
                        <th scope="col">National Park Name</th>
                        <th>Designation</th>
                        <th>States</th>
                        <th scope="col">Wishlist</th>
                        <th scope="col">Visited</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each parks}}
                        <tr>
                            <td><a href="/parks/{{this.parkid}}" target="_blank"
                                class="park-link">{{ this.name }}</a></td>
                            <td>{{ this.designation }}</td>
                            <td>{{ this.statesFormatted }}</td> 
                            <td class="add-to-wishlist-block"><span class="fas fa-list-ul parks-table-icon"></span>Add to Wishlist</td>
                            <td class="add-to-visited-block"><span class="fas fa-check parks-table-icon"></span>Add to Visited</td>
                        </tr>
                    
                    {{/each}}
                </tbody>
            </table>
        </div>
        
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
</script>
<script src="/js/parks.js"></script>