<div class="login-background">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
            </div>
        </div>
    </nav>
    <div class="container login-container">
        
            <div class="">
                <h2 class="text-center">My Parks</h2>
                <p>Park data goes in here.</p>
            </div>

    </div>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/login.js"></script>