<div class="profile-background fullpage-background-img">
    <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
    </div>
  </nav>
 
  {{!-- Begin Park Data Section --}}
  <div class="container general-form-container">
    <h2 class="text-center">My Parks</h2>
    <div class="row">
      <div class="col-sm mb-3">
        <h5 class="text-center profile-title">Parks I want to visit</h5>
        <ul>
          {{#each wishlistParks}}
            <li>
              <span class="fas fa-trash btnDeleteWishlist" data-id="{{this.id}}"></span>
              {{ this.name }}
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="col-sm">
        <h5 class="text-center profile-title">Parks I have already visited</h5>
        <ul>
          {{#each visitedParks}}
            <li>
              <span class="fas fa-trash btnDeleteVisited" data-id="{{this.id}}"></span>
              {{ this.name }}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="/js/profile.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>