.fullpage-background-img {
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
  min-height: 100vh !important;
  image-rendering: optimizeQuality !important;
}

.general-form-container {
  margin-top: 100px;
  background-color: rgb(219, 217, 225, 0.8);
  padding: 25px;
  border-radius: 10px;
  max-width: 90%;
   

  
  
  
}
.general-form-container img{
width: 600px;
border-radius: 6px;
}

.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.login-background {
  background-image: url("../images/loginBackground.jpg");
}

.login-btn {
  margin-top: 5px;
}

.signup-background {
  background-image: url("../images/signupBackground.jpg");
}

.signup-btn {
  margin-top: 5px;
}

/* .profile-background {
  background-image: url("../images/profileBackground.jpg");
} */

li {
  padding: 5px;
  margin: 5px;
  list-style-type: none;
  color: #000;
}

h2 {
  margin-bottom: 1.5em;
}
.activities {
  /* height: 10%; */
  /* background-color: blue; */
  /* overflow: scroll; */
}
.carousel-image{
  margin:auto;
}
.carousel-caption{
  position: relative;
  left: 0;
  top: 0;
  padding: 2px;
  color: #000;
  
}