body {
    padding: 0;
}

li {
    padding: 5px;
    margin: 5px;
    list-style-type: none;
    color: #000;
}

h2 {
    margin-bottom: 1.5em;
}

.fullpage-background-img {
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;
    min-height: 100vh !important;
}

.general-form-container {
    margin-top: 100px;
    background-color: rgb(219, 217, 225, 0.8);
    padding: 25px;
    border-radius: 10px;
    max-width: 90%;
}

.signup-container {
    margin-top: 120px;
}

.login-container {
    margin-top: 120px;
}

@media (max-width: 800px) {
    .general-form-container {
        max-width: 100%;
    }
}

.general-form-container img {
    width: 600px;
    border-radius: 6px;
}

.form-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-background {
    background-image: url("../images/loginBackground.jpg");
}

.profile-background {
    background-image: url("../images/profileBackground.jpg");
}

.login-btn {
    margin-top: 5px;
}

.signup-background {
    background-image: url("../images/signupBackground.jpg");
}

.signup-btn {
    margin-top: 5px;
}

/* ----- PROFILE PAGE ----- */
.park-detail-background {
    padding-bottom: 150px;
}


.profile-title {
    border-bottom: 1px solid;
}

.btnDeleteWishlist {
    cursor: pointer;
}

.btnDeleteWishlist:hover {
    color: #f7f7f7;
}

.btnDeleteVisited {
    cursor: pointer;
}

.btnDeleteVisited:hover {
    color: #f7f7f7;
}

/* ----- LANDING PAGE ----- */
.landing-page-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.background-picture {
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.top-row-picture {
    min-height: 50vh;
}

.bottom-row-picture {
    min-height: 70vh
}


.picture-1 {
    background-image: url("../images/landingPageImage1.jpg"); 
}

.picture-2 {
    background-image: url("../images/landingPageWaterfall.webp");
}

.picture-3 {
    background-image: url("../images/landingPageMountains.jpg");
}

.picture-4 {
    background-image: url("../images/landingPageImage2.jpg");
}

.landing-page-content {
    position: absolute;
    top: 58%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: rgb(219, 217, 225, 0.9);
    border-radius: 10px;
    padding: 10px;
    width: 600px;
}

@media (max-width: 600px) {
    .landing-page-content {
        width: 100%;
    }
}

.landing-page-content h1 {
    margin: 15px;
    font-size: 40px;
}

.landing-page-content p {
    font-size: 17px;
}

.landing-page-content a {
    margin: 10px;
}


/* ----- PARKS PAGE ----- */
.parks-background {
    background-image: url("../images/profileBackground.jpg");
    padding-bottom: 100px;
}

.all-parks-container {
    background-color: rgb(180, 170, 183, 0.9);
}

.all-parks-container h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

/* Search-container */
.search-container {
    max-width: 600px;
    margin: 10px auto 40px auto;
}

.search-input-wrapper {
    display: grid;
    grid-template-columns: auto 100px;
}

.search-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-wrapper h4 {
    display: inline-block;
}

.filter-btn-container {
    display: inline-block;
    margin-right: 5px;
}

.state-dropdown {
    transform: none !important;
    top: 38px !important;
    left: -90% !important;
    padding-bottom: 0;
}

.state-dropdown-container {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px 70px 70px;
}

.reset-selections-btn {
    width: 100%;
    margin-top: 7px;
}

.state-col input {
    margin: 5px;
}

.designation-dropdown {
    transform: none !important;
    top: 38px !important;
    left: -150% !important;
    max-height: 270px;
    overflow: scroll;
    padding-bottom: 0;
}

.designation-dropdown-container {
    display: grid;
    grid-template-columns: 325px 250px;
}

@media (max-width: 600px) {
    .designation-dropdown {
        left: -60% !important;
    }

    .state-dropdown {
        left: -30% !important;
    }

    .designation-dropdown-container {
        display: grid;
        grid-template-columns: 325px;
    }
}

@media (max-width: 422px) {
    .state-dropdown {
        left: 0 !important;
        max-height: 270px;
        overflow: scroll;
    }

    .state-dropdown-container {
        display: flex;
    }
}

@media (max-width: 411px) {
    .designation-dropdown {
        left: -101% !important;
    }

    .state-dropdown {
        left: -30% !important;
    }
}

/* Parks Table */
.parks-table-wrapper {
    overflow-x: scroll;
}

.parks-table th {
    font-size: 20px;
}

@media (max-width: 689px) {
    .parks-table th {
        font-size: 16px;
    }
}

.parks-table-row-wrapper {
    max-height: 90px !important;
    overflow: scroll !important;
}

.park-link {
    color: #292b2c;
    text-decoration: none;
}

.park-link:hover {
    color: #f7f7f7;
}

.add-to-wishlist-block {
    cursor: pointer;
}

.add-to-wishlist-block:hover {
    color: #f7f7f7;
}

.add-to-visited-block {
    cursor: pointer;
}

.add-to-visited-block:hover {
    color: #f7f7f7;
}

/* ----- PARKS DETAIL PAGE ----- */
.carousel-image {
    margin: auto;
    display: block;
    max-width:1200px;
    max-height:800px;
    width: auto;
    height: auto;
}

.maxwidth-700 {
    max-width: 700px;
}

.transition-fade-in {
    animation: transitionFadeIn ease-in 0.3s;
}

@keyframes transitionFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }  
}

.hidden {
    display: none;
}