li {
    padding: 5px;
    margin: 5px;
    list-style-type: none;
    color: #000;
}

h2 {
    margin-bottom: 1.5em;
}

.fullpage-background-img {
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
  min-height: 100vh !important;
  image-rendering: optimizeQuality !important;
}

.general-form-container {
  margin-top: 100px;
  background-color: rgb(219, 217, 225, 0.8);
  padding: 25px;
  border-radius: 10px;
  max-width: 90%;
}

@media (max-width: 800px) {
    .general-form-container {
        max-width: 100%;
    }
}

.general-form-container img{
width: 600px;
border-radius: 6px;
}

.form-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-background {
    background-image: url("../images/loginBackground.jpg");
}

.profile-background {
    background-image: url("../images/profileBackground.jpg");
}

.login-btn {
    margin-top: 5px;
}

.signup-background {
    background-image: url("../images/signupBackground.jpg");
}

.signup-btn {
    margin-top: 5px;
}

/* ----- PARKS PAGE ----- */
.parks-background {
    background-image: url("../images/profileBackground.jpg");
    padding-bottom: 100px;
}

.all-parks-container {
    background-color: rgb(180, 170, 183, 0.9); 
}

.all-parks-container h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

/* Search-container */
.search-container {
    max-width: 600px;
    margin: 10px auto 40px auto;
}

.search-input-wrapper {
    display: grid;
    grid-template-columns: auto 100px;
}

.search-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-wrapper h4{
    display: inline-block;
}

.filter-btn-container {
    display: inline-block;
    margin-right: 5px;
}

.state-dropdown {
    transform: none !important;
    top: 38px !important;
    left: -90% !important;
    padding-bottom: 0;
}

.state-dropdown-container {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px 70px 70px;
}

.reset-selections-btn {
    width: 100%;
    margin-top: 7px;
}

.state-col input {
    margin: 5px;
}

.designation-dropdown {
    transform: none !important;
    top: 38px !important;
    left: -150% !important;
    max-height: 270px;
    overflow: scroll;
    padding-bottom: 0;
}

.designation-dropdown-container {
    display: grid;
    grid-template-columns: 325px 250px;
}

@media (max-width: 600px) {
    .designation-dropdown {
        left: -60% !important;
    }

    .state-dropdown {
        left: -30% !important;
    }

    .designation-dropdown-container {
        display: grid;
        grid-template-columns: 325px;
    }
}

@media (max-width: 422px) {
    .state-dropdown {
        left: 0 !important;
        max-height: 270px;
        overflow: scroll;
    }

    .state-dropdown-container {
        display: flex;
    }
}

@media (max-width: 411px) {
    .designation-dropdown {
        left: -101% !important;
    }

    .state-dropdown {
        left: -30% !important;
    }
}

/* Parks Table */
.parks-table-wrapper {
    overflow-x: scroll;
}

.parks-table th {
    font-size: 20px;
}

@media (max-width: 689px) {
    .parks-table th {
        font-size: 16px;
    }
}

.parks-table-row-wrapper {
    max-height: 90px !important;
    overflow: scroll !important;
}

.park-link {
    color: #292b2c;
    text-decoration: none;
}

.park-link:hover{
    color: #f7f7f7;
}

.parks-table-icon {
    margin-right: 5px;
}

.add-to-wishlist-block {
    cursor: pointer;
}

.add-to-wishlist-block:hover {
    color: #f7f7f7;
}

.add-to-visited-block {
    cursor: pointer;
}

.add-to-visited-block:hover {
    color: #f7f7f7;
}

/* ----- PARKS DETAIL PAGE ----- */
.carousel-image{
  margin:auto;
}

.carousel-caption{
  position: relative;
  left: 0;
  top: 0;
  padding: 2px;
  color: #000;
}

.maxwidth-700 {
    max-width: 700px;
}
